.wrap {
    border-radius: 1.2rem;
    border: 2px solid rgba(255, 255, 255, 0.25);
    padding: 2.5rem 2.5rem 2.4rem 2.5rem;
    margin-top: 4.5rem;
    min-height: 10rem;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.title h3 {
    color: #FFF;
    font-family: 'Montserrat-SemiBold';
    font-size: 2rem;
    font-style: normal;
    line-height: 2.8rem;
}
.icon{
    max-width: 3.2rem;
    height: auto;
    object-fit: cover;
}
.content {
    color: #FFF;
    font-family: "Inter-Regular";
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.96rem;
}